@import "tailwindcss";
*{
  box-sizing: border-box;
}

body{
  background-color: rgb(23, 23, 23);
  display: flex;
  gap: 1;
  flex: 1 1 auto;
  color: white;
  overflow-y: hidden;

}

span{
  color: #3125d4;
  font-weight: bold;
}
